In [1]:
pip install kagglehub[pandas-datasets]

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kagglehub[pandas-datasets] in c:\users\user\appdata\roaming\python\python311\site-packages (0.3.13)
Requirement already satisfied: packaging in c:\users\user\appdata\roaming\python\python311\site-packages (from kagglehub[pandas-datasets]) (24.2)
Requirement already satisfied: pyyaml in c:\programdata\anaconda3\lib\site-packages (from kagglehub[pandas-datasets]) (6.0.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kagglehub[pandas-datasets]) (2.31.0)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from kagglehub[pandas-datasets]) (4.65.0)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from kagglehub[pandas-datasets]) (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->kagglehub[pandas-datasets]) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->kagglehub[pandas-datasets]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->kagglehub[pandas-datasets]) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->kagglehub[pandas-datasets]) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kagglehub[pandas-datasets]) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kagglehub[pandas-datasets]) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->kagglehub[pandas-datasets]) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->kagglehub[pandas-datasets]) (2024.2.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->kagglehub[pandas-datasets]) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->kagglehub[pandas-datasets]) (1.16.0)

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

In [10]:
import kagglehub
import pandas as pd

# Especifica el dataset completo de Kaggle (usuario/nombre)
# Por ejemplo, el dataset común que contiene "sales_data_sample.csv" es:
# https://www.kaggle.com/datasets/kyanyoga/sample-sales-data
dataset_path = kagglehub.dataset_download("kyanyoga/sample-sales-data")

# Ahora carga el archivo CSV con pandas
file_path = f"{dataset_path}/sales_data_sample.csv"
df = pd.read_csv(file_path, encoding='latin1')  # a veces necesita encoding

print(df.head())

Using Colab cache for faster access to the 'sample-sales-data' dataset.
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [15]:
df = df.dropna()

In [16]:
print(df.isnull().sum())

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [17]:
print(df.head())

    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
10        10223               37     100.00                1  3965.66
21        10361               20      72.55               13  1451.00
40        10270               21     100.00                9  4905.39
47        10347               30     100.00                1  3944.70
51        10391               24     100.00                4  2416.56

          ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
10   2/20/2004 0:00  Shipped       1         2     2004  ...
21  12/17/2004 0:00  Shipped       4        12     2004  ...
40   7/19/2004 0:00  Shipped       3         7     2004  ...
47  11/29/2004 0:00  Shipped       4        11     2004  ...
51    3/9/2005 0:00  Shipped       1         3     2005  ...

                               ADDRESSLINE1  ADDRESSLINE2          CITY  \
10                        636 St Kilda Road       Level 3     Melbourne
21  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
40  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
47                        636 St Kilda Road       Level 3     Melbourne
51                        201 Miller Street      Level 15  North Sydney

       STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME  \
10  Victoria       3004  Australia      APAC        Ferguson            Peter
21       NSW       2067  Australia      APAC          Huxley           Adrian
40       NSW       2067  Australia      APAC          Huxley           Adrian
47  Victoria       3004  Australia      APAC        Ferguson            Peter
51       NSW       2060  Australia      APAC          O'Hara             Anna

   DEALSIZE
10   Medium
21    Small
40   Medium
47   Medium
51    Small

[5 rows x 25 columns]

In [ ]:
df_clean = df.dropna()

# Guardar el CSV procesado
output_file = "sales_data_clean.csv"
df_clean.to_csv(output_file, index=False, encoding='utf-8')

print(f"\nDatos limpios guardados en: {output_file}")

✅ Datos limpios guardados en: sales_data_clean.csv